/* styles.css */

.show-preview-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%; /* Set the width to 100% */
  max-width: 900px;
  overflow: hidden;
  text-align: center;
  margin: 0 auto; /* Center the card horizontally */
}


.show-preview-card img {
  width: 300px;
  height: auto;
  border-radius: 8px 8px 0 0;
  margin: 0 auto;
  display: block;
}

/* styles.css */
.show-preview-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
}

.show-preview-details h3 {
  color: white;
  background-color: rgb(181, 149, 149);
  width: 200px;
  text-align: center; /* Center the text within the h3 element */
  margin: 0;
  border-radius: 10px;; /* Remove default margin to ensure it's centered */
}



.show-preview-details h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}


.show-preview-details p {
  color: #555;
}


.show-updated {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: rgb(239, 236, 236);
  border-radius:20px
}
.showgenre {
  margin-top: 0px;
  font-size: 0.9rem;
  color: #555;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
}

.showid{
  display: none;
}
