/* styles.css */

.show-preview-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%; /* Set the width to 100% */
  max-width: 900px;
  overflow: hidden;
  text-align: center;
  margin: 0 auto; /* Center the card horizontally */
}


.show-preview-card img {
  width: 300px;
  height: auto;
  border-radius: 8px 8px 0 0;
  margin: 0 auto;
  display: block;
}

/* styles.css */
.show-preview-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
}

.show-preview-details h3 {
  color: white;
  background-color: rgb(181, 149, 149);
  width: 200px;
  text-align: center; /* Center the text within the h3 element */
  margin: 0;
  border-radius: 10px;; /* Remove default margin to ensure it's centered */
}



.show-preview-details h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}


.show-preview-details p {
  color: #555;
}


.show-updated {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: rgb(247, 245, 245);
  border-radius:20px
}
.showgenre {
  margin-top: 0px;
  font-size: 1rem;
  color: #555;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
}

.showid{
  display: none;
}

.show-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%; /* Set the width to 100% */
  max-width: 900px;
  overflow: hidden;
  text-align: center;
  padding-top: 10px;
  margin: 0 auto; /* Center the card horizontally */
}

.back-button {
  /* Styles for the back button */
  background-color: #fffefe;
  color: #1e5971;
  font-weight: bolder;
  padding: 8px 12px;
  margin-bottom: 10px;
  cursor: pointer;
  border: none;
  border: solid rgb(5, 5, 8) 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.back-button:hover {
  background-color: #2980b9; /* Change the background color on hover */
  color: #eee; /* Change the text color on hover */
}


.show-card img {
  width: 200px;
  height: auto;
  border-radius: 8px 8px 0 0;
  margin: 0 auto;
  display: block;
}

.episode-card{
 
  border-radius: 8px;
  width: 100%; /* Set the width to 100% */
  max-width: 900px;
 
  text-align: center;
  margin: 0 auto;
  background-color: #f1f0f0;
  margin-bottom: 10px;
 
}

.season-selection {
  margin-top: 20px;
}

.season-label {
  font-size: 16px;
  margin-right: 10px;
}

.season-select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.selected-season-info {
  margin-top: 20px;
}

.season-container {
  margin-top: 20px;
}

.episode-card {
  margin-top: 15px;
}



