/* styles.css */
.show-preview-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%; /* Set a fixed width or use percentage, as needed */
  max-width: 300px; /* Set a maximum width for responsiveness */
  margin: 16px; /* Adjust margin for spacing between cards */
  text-align: center; /* Center text content */
}

.show-preview-card:hover {
  transform: scale(1.05);
}

.show-preview-card img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
  margin: 0 auto; /* Center the image horizontally */
  display: block; /* Remove any default inline spacing */
}

.show-preview-details {
  padding: 20px;
}

.show-preview-details h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.show-preview-details p {
  color: #555;
}
